.opentopography.txt
/libs
/cache
/jupyter_lite
/legacy
/figures
/local_tests
/data
/.vscode
/.ipynb_checkpoints

**/.pytest_cache
**/__pycache__
**/*.pyc

**/*.tif
# except for the following files
!data/topo_cache/SRTM15Plus_37.56751_37.92804_14.77253_15.22657.tif
!data/GVP_Volcano_List.csv


.filedump
