.opentopography.txt
/libs
/cache
/jupyter_lite
/legacy

**/.pytest_cache
**/__pycache__
**/*.pyc

**/*.tif
# except for the following files
!data/topo_cache/SRTM15Plus_37.56834_37.92766_14.77178_15.22622.tif