# This file lists all the Python packages that are required by the project
# Run `pip install -r requirements.txt` to install all required packages
pygad
utm
ipympl
pykonal
mpire
ipywidgets
ipyleaflet
bqplot
tqdm
jupyter
jupyterlab
ipykernel
numpy
pandas
xarray
scipy
scikit-learn
scikit-image
pykonal